[submodule "lib/dense_flow"]
	path = lib/dense_flow
	url = https://github.com/yjxiong/dense_flow
[submodule "lib/caffe-tpp-net"]
	path = lib/caffe-tpp-net
	url = https://github.com/zhujiagang/caffe-tpp-net
